{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto mt-32 p-6 bg-white shadow-md rounded-lg">
    <h2 class="text-3xl font-bold mb-6">Tu Carrito de Compras</h2>

    {% if not compras %}
        <p class="text-center text-gray-600 mt-8">No tienes nada en el carro</p>
    {% else %}

    {% if total_compra == 1 %}       
        <h2 class="text-3xl font-bold mb-6">Tienes {{total_compra}} producto en tu carrito</h2>
    {% else %}
        <h2 class="text-3xl font-bold mb-6">Tienes {{total_compra}} productos en tu carrito</h2>
    {% endif %}
    <br>
        <div class="bg-zinc-600 p-3 border-emerald-500">
            <table class="min-w-full ">
                <thead>
                    <tr>
                    
                        <th class=" py-2 bg-zinc-600 text-white">Producto</th>
                        <th class=" py-2 bg-zinc-600 text-white">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for compra in compras %}
                    <tr>
                        
                        <td class="border px-0  py-2 bg-zinc-300">- {{ compra.nombreCompra }}</td>
                        <td class="flex justify-between border px-0 py-2 bg-zinc-300">${{ compra.precioCompra }} <a href="{% url 'tienda:delete_carro' compra.id %}" class="text-red-600 hover:text-red-800 font-bold">Eliminar</a></td>
                        
                    </tr>
                    {% endfor %}
                    <tr>
                        
                        <td class="border px-0 py-2 bg-zinc-600 text-white font-bold">Total</td>
                        <td class="border px-0 py-2 font-bold bg-zinc-600 text-white">${{ total_precio }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="flex justify-end">
            <a href="#" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Procesar Compra</a>
        </div>
    {% endif %}
</div>
{% endblock content %}
